<%- include("header") -%>

<div class="addnew" id="addnew">

 <h1><%= today %></h1>
  <form class="addnew" action="/addnew" method="post">
    <input class="input" type="text" name="newlistname" placeholder="" autocomplete="off">
    <!-- <input type="submit" style="display: none" /> -->
    <button type="submit" name="newlist"></button>
  </form>

</div>

<div class="box" id="heading">

    <div class="dropdown">
      <button class="dropbtn"><%= ListTitle%></button>
      <div class="dropdown-content">
        <% if (ListTitle != "ToDoList"){ %>
          <a href="/">Home</a>
        <%}%>
        <% lists.forEach(function(l){ %>
          <% if (ListTitle != l.name) { %>
          <a href="/<%= l.name%>"><%= l.name%></a>
          <% } %>
        <% }) %>
      </div>
    </div>

</div>

<div class="row">
  <div class="box">

    <% newToDos.forEach(function(newToDo){ %>
    <form class="" action="/delete" method="post">
      <div class="item">
        <input name="checkbox" type="checkbox" value="<%= newToDo._id %>" onChange="this.form.submit()">
        <p class="todoitems"><%= newToDo.name %></p>
      </div>
      <input type="hidden" name="listName" value="<%= ListTitle %>"></input>
    </form>
    <%});%>

    <form class="item" action="/" method="post">
      <input class="input" type="text" name="nextToDo" placeholder="Next To Do" autocomplete="off">
      <button type="submit" name="list" value=<%= ListTitle%>>+</button>
    </form>

  </div>
  <form class="deletelist" action="/deletelist" method="post">
    <button type="submit" name="dellist" value=<%= ListTitle%>>-</button>
  </form>
</div>
<%- include("footer") -%>
